<div class="fakegram">
  <div class="fakegram__left-area">
    <div class="search-area">
      <input type="text" class="fakegram-input search-area__input" placeholder="Search">
    </div>
    <div>
      <div ng-if="isLoadingContacts">
        <loader />
      </div>
      <div ng-repeat="contact in contacts">
        <contact
          contact-info="contact"
          on-select="onSelectContact($index)"
          selected="openContact.id === contact.id"
        />
      </div>
    </div>
  </div>
  <div class="fakegram__right-area">
    <img class="chat-background" src="img/forest.png" alt="Forest" />
    <div ng-if="openContact">
      <active-contact contact-info="openContact" />
    </div>
  </div>
</div>